---

---

<section
  class="bg-amber-950 w-[100%] md:w-[80%] md:mx-auto h-[90vh] rounded relative"
>
  <article class="bg-slate-700 rounded absolute inset-2"></article>
  <article class="bg-slate-600 rounded absolute inset-3"></article>
  <article class="bg-slate-500 rounded absolute inset-4"></article>
  <article class="bg-slate-400 rounded absolute inset-5"></article>
  <article class="bg-slate-300 rounded absolute inset-6">
    <div class="flex justify-between items-start h-full flex-col md:flex-row">
      <article
        class="rounded-l border-slate-500 border w-full h-full text-black px-4 py-2 overflow-y-auto"
      >
        <h3 class="text-lg text-center font-semibold mb-2">Historia:</h3>
        <div id="story-text" class="max-w-[80ch] mx-auto text-left"></div>
      </article>
      <article
        class="rounded-r border-slate-500 border w-full h-full text-black px-4 py-2 overflow-y-auto"
      >
        <div id="options-container" class="flex flex-col gap-2 mt-4 text-white">
        </div>
      </article>
    </div>
  </article>
</section>
